@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff7ed;
  color: #333;
}
h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
}

@keyframes float-slow {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-float-slow {
  animation: float-slow 5s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}